.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.navbar-brand {
   width: 8rem;
}

.awesomplete > ul {
    width: 100px !important;
    word-wrap: break-word;
    text-align: left;
}

/* table */
table {
    table-layout: fixed;
    width: 100%;
}

th,td {
    word-wrap: break-word;
}

/* loader */
.loader {
    width: 100%;
    height: 13rem !important;
    z-index: 9999;
    background: url('/worklist-tool/static/images/loading.gif') 50% 50% no-repeat;
    background-size: auto auto;
    background-size: 3rem;
}

.hidden {
    display: none;
}

.worklist-tool-logo {
    position: absolute;
    top: 19px;
    left: 62px;
}

.top-heading {
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    margin-left: 23rem;
}

.row .row {
    padding: 5px;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-right-padding {
    padding-right: 0 !important;
}

.table-alignment {
    text-align: center;
    width: 100%;
}

.info-message {
    margin-left: 10px;
}

.report-error {
    padding-left: 3rem;
    font-size: 14px;
    margin-right: 9px;
    padding-top: 3px;
}
