/* Homepage CSS starts*/

.error-message-holder {
    position: fixed;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    z-index: 2000;
    text-align: center;
}

.home-page-error {
    font-size: 14px;
}

.homepage-clipboard-icon {
    padding-top: 3rem;
}

.graduation {
    font-size: 13rem;
}

.home-page-text {
    width: 100%;
    text-align: center;
}

.wikicv-title {
    font-size: 14rem;
    margin-top: -8rem;
    margin-left: 7rem;
}

.baseline {
    margin-top: -5rem;
}

.show-worklists-button {
    padding-right: 1rem;
    width:100%; text-align: center
}

/* Homepage CSS ends */


/* Base HTML CSS starts */

.hidden {
    display: none;
}

.worklist-tool-logo {
    position: absolute;
    top: 19px;
    left: 62px;
}

.top-heading {
    text-align: center;
    padding-top: 0.5rem;
}

.row .row {
    padding: 5px;
}

.no-left-padding {
    padding-left: 0 !important;
}

/* Base HTML CSS ends */


/* Create Worklists HTML CSS starts */

#submit-btn {
    display: block;
    margin: auto;
}

.worklist-name {
    width: 540px;
}

.worklist-tag {
    width: 628px;
}

.worklist-description {
    width: 686px
}

.worklist-psid {
    width: 535px
}

.article-name{
    width: 572px;
}

.article-description{
    width: 600px;
}

.article-effort{
    width: 644px;
}
/* Create Worklists CSS ends */
