{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href={% static "css/create-worklist.css" %}>
    <script src="{% static 'js/create-worklist.js' %}"></script>
    <script src="{% static 'js/csrf-token-functions.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		$('#nav-create-worklist').addClass('active');
    	});
    </script>
{% endblock %}

{% block content %}
    <div class="container">
		<div id="alert-message-holder"></div>

		{% if content.error == 1 %}
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="alert alert-success" role="alert">
					  <a href='#' class='close' data-dismiss='alert'>&times;</a>
					  {{content.message}}
					</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8 create-worklist-container">
					<h2 class="top-heading">Create Worklist</h2>
					<form onsubmit="return saveWorklist()">
					  Name of Worklist: <input class="worklist-name" id="worklist_name" type="text" name="name"
                                               placeholder="Enter name of the new worklist you want to create.">
					  <br>
					  Tags: <input class="worklist-tag" id="worklist_tags" type="text" name="tags"
                                   placeholder="Enter comma separated tags to which the worklist will belong.">
					  <br>
					  <p>Description:</p>
					  <textarea class="worklist-description" id="worklist_description"
                                placeholder="Describe what this worklist is about and what needs to be done in it"
                                rows="4" cols="60" name="description"></textarea>
					  <br>
					  PetScan Query ID: <input class="worklist-psid" id="worklist_psid"
                                               type="text" name="psid"
                                               placeholder="Enter the PetScan Query ID which you want to associate with this worklist">
					  <br>
					  <div id="articles_input" class="row">
					  </div>
					  <button type="button" class="btn btn-primary" onclick="addNewArticle();">Add more articles
                          <i class="fa fa-plus-circle"></i></button>
					  <br>
						<button id="submit_btn" type="submit" class="btn btn-outline-success">
						    Submit
						</button>
					</form>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
