{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.js" async></script>
    <script src="{% static 'js/show-worklist.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        worklists = {{results|safe}};
        input_by_worklist_name = document.getElementById("search_by_worklist_name_input");
        input_by_username = document.getElementById("search_by_username_input");
	    awesomplete_by_worklist_name = new Awesomplete(input_by_worklist_name);
	    awesomplete_by_username = new Awesomplete(input_by_username);
	    $.each(worklists, function(index, value){
	        worklist_names.push(value.name);
	        usernames.push(value.created_by);
	    });
	    input_by_worklist_name.list = worklist_names;
	    input_by_username.list = Array.from(new Set(usernames));
	    setTimeout(worker, 50000);
    });
    </script>
    <style type="text/css">
    	input[name=search_term] {
    		padding: 6px;
    	}
    	#search_by_worklist_name, #search_by_username {
    		text-align: right;
			padding-right: 0;
    	}
    </style>
{%  endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 create-worklist-container">
				<h2 class="top-heading">Created Worklists</h2>
				<div class="row">
					<div class="col-md-2 no-left-padding">
						<a role="button" class="btn btn-outline-primary"
                           href="/worklist-tool/create-worklist">Create worklist</a>
					</div>
					<div id="search_by_worklist_name" class="col-md-8">
						<form id="search_by_worklist_name_form" action="/worklist-tool/show-worklist" method="get">
							<input id="search_by_worklist_name_input" type="text" name="search_term"
                                   placeholder="Search worklist">
							<input class="hidden" id="worklist_name" type="text"
                                   name="search_type" value="worklist_name">
							<input type="submit" class="btn btn-outline-secondary" value="Search"  onclick="refresh();return false;">
						</form>
					</div>
					<div class="hidden col-md-8" id="search_by_username">
						<form id="search_by_username_form">
							<input id="search_by_username_input" type="text" name="search_term" placeholder="Search worklist">
							<input class="hidden" id="username" type="text"
                                   name="search_type" value="username">
                            <input type="submit" class="btn btn-outline-secondary" value="Search" onclick="refresh();return false;">
						</form>
					</div>
					<div class="col-md-2">
						<div class="dropdown">
						  <button class="btn btn-secondary dropdown-toggle" type="button"
                                  id="dropdownMenuButton" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                              By Worklist Name
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" onclick="search_by_worklist_name()">Worklist Name</a>
						    <a class="dropdown-item" onclick="search_by_username()">Username</a>
						  </div>
						</div>
					</div>
				</div>
                <div id="worklist_table">
                    {% include 'show-worklist-table.html' %}
                </div>
			</div>
		</div>
	</div>
{%  endblock %}
