{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/awesomplete/1.1.2/awesomplete.css" />
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/awesomplete/1.1.2/awesomplete.js" async></script>
    <script src="{% static 'js/csrf-token-functions.js' %}"></script>
    <script src="{% static 'js/show-task.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static "css/show-task.css" %}>
    <script type="text/javascript">
    var awesomplete;

     $(document).ready(function(){
        $('[data-toggle="popover"]').popover();

        tasks = {{tasks|safe}};
        worklist_name = "{{worklist_name}}";
        worklist_created_by = "{{worklist_created_by}}";
        input = $("#search_task_autocomplete");
	    awesomplete = new Awesomplete(input);
        awesomplete.list = tasks.map(task => task.article_name);

        setTimeout(worker, 50000);
    });
    </script>

    <style type="text/css">
    	input[name=search_term] {
    		padding: 6px;
    	}

    	#search_by_task_name {
    		text-align: right;
			padding-right: 0;
    	}
    </style>
{%  endblock %}

{% block content %}
	<div class="container">
        <div id="alert-message-holder"></div>
		<div class="row">
			<div class="col-md-12 create-worklist-container">
                <span>
                    <h2 class="top-heading">Worklist Name: {{worklist_name}}</h2>
                    <a href="#" data-toggle="popover" data-content="Share Worklist using this link: https://tools.wmflabs.org/worklist-tool/show-tasks?worklist_name={{ worklist_name }}&worklist_created_by={{ worklist_created_by }}"><i class="fa fa-share-alt" class="share-icon-size"></i></a>
                </span>

				<div class="row">
					<div class="col-md-6 no-left-padding">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_articles_modal">
                          Add articles <i class="fa fa-plus-circle"></i>
                        </button>
					</div>
					<div id="search_by_task_name" class="col-md-6">
						<form id="search_by_task_name_form" action="/worklist-tool/show-tasks" method="get">
							<input id="search_task_autocomplete" type="text" name="search_term"
                                   placeholder="Search task">
							<input class="hidden" id="task_name" type="text"
                                   name="search_type" value="task_name">
							<input class="hidden" id="worklist_name" type="text"
                                   name="worklist_name" value="{{worklist_name}}">
							<input class="hidden" id="worklist_created_by" type="text"
                                   name="worklist_created_by" value="{{worklist_created_by}}">
							<input type="submit" class="btn btn-outline-secondary" value="Search" onclick="refresh();return false;">
						</form>
					</div>
				</div>
                <div id="task_table">
                    {% include 'show-task-table.html' %}
                </div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	{% if logged_in_user %}
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <strong>Progress:</strong> <input id="task_progress" type="number"
                                              min="0" max="100" value="0"><br/>
	        <strong>Status:</strong> <div>
	        	<input type="radio" name="status" value="open" checked>Open
	        	<input type="radio" name="status" value="closed">Closed
	        	<input type="radio" name="status" value="claimed">Claimed
	        </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary"
                    onclick="saveTask()">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}

    {% if logged_in_user %}
	<div class="modal fade" id="add_articles_modal" tabindex="-1" role="dialog"
         aria-labelledby="add_articles_modal_title" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="add_articles_modal_title"></h5>
	        <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <strong>Name of Article:</strong> <input id="article_name" type="text"
                                                     value="" class="article-name"><br/>
            <strong>Description:</strong> <input id="article_description" type="text"
                                                 value="" class="article-description"><br/>
            <strong>Effort:</strong> <input id="article_effort" type="number" min="0" max="100"
                                                value="0" class="article-effort"><br/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary"
                    onclick="addArticle('{{ worklist_name }}', '{{ worklist_created_by }}')">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}
{% endblock %}
