{% load staticfiles %}
{% load replace %}
<!DOCTYPE html>
<html>
<head>
    <title>Task-Table</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        tasks = {{tasks|safe}};
        awesomplete.list = tasks.map(task => task.article_name);
    });
    </script>
</head>

<body>
{% if tasks|length %}
    <div class="row">
        <div class="table-alignment">
            <table id="task-table" data-pagination="true" data-toggle="table" class="table table-bordered">
                <thead>
                  <tr>
                    <th data-sortable="true">Name</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th data-sortable="true">Progress</th>
                    <th data-sortable="true">Effort</th>
                    <th>Claimed By</th>
                  </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                  <tr>
                    <td><a href="https://en.wikipedia.org/wiki/{{ task.article_name|replace:' ' }}">{{ task.article_name }}</a></td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.created_by }}</td>
                    <td>
                        {% if task.can_modify_status  %}
                            <select id="select-status-{{ task.task_id }}" onchange='saveTask("{{ task.article_name }}", "{{ task.task_id }}");'>
                                <option value="Open" {% if task.status == 'Open' %}selected="selected"{% endif %}>Open</option>
                                <option value="Claimed" {% if task.status == 'Claimed' %}selected="selected"{% endif %}>Claimed</option>
                                <option value="Closed" {% if task.status == 'Closed' %}selected="selected"{% endif %}>Closed</option>
                            </select>
                        {%  else %}
                            {{ task.status }}
                        {% endif %}
                    </td>
                    <td>
                        {% if task.can_modify_progress %}
                            <select id="select-progress-{{ task.article_name }}"  onchange='saveTask("{{ task.article_name }}", "{{ task.task_id }}", "{{ logged_in_user }}");'>
                                <option value="Not Started" {% if task.progress == 'Not Started' %}selected="selected"{% endif %}>Not Started</option>
                                <option value="Just Started" {% if task.progress == 'Just Started' %}selected="selected"{% endif %}>Just Started</option>
                                <option value="In Progress" {% if task.progress == 'In Progress' %}selected="selected"{% endif %}>In Progress</option>
                                <option value="Nearly Done" {% if task.progress == 'Nearly Done' %}selected="selected"{% endif %}>Nearly Done</option>
                                <option value="Done" {% if task.status == 'Done' %}selected="selected"{% endif %}>Done</option>
                            </select>
                        {%  else %}
                            {{ task.progress }}
                        {% endif %}
                    </td>
                    <td>{{ task.effort }}</td>
                    <td>{{ task.claimed_by }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="alert alert-warning" role="alert">
          <a href='#' class='close info-message' data-dismiss='alert'>  &times;</a>
          Oops! No task added yet!
        </div>
    </div>
{% endif %}
</body>
</html>
