{% extends 'base.html' %}

{% block scripts %}
    <script src="{% static 'js/csrf-token-functions.js' %}"></script>
    <script src="{% static 'js/show-task.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        tasks = {{tasks|safe}};
        worklist_name = "{{worklist_name}}";
        worklist_created_by = "{{worklist_created_by}}";
        setTimeout(function(){
        window.location.reload(true);
        }, 120000);
    });
    </script>

    <style type="text/css">
    	input[name=search_term] {
    		padding: 6px;
    	}

    	#search_by_task_name {
    		text-align: right;
			padding-right: 0;
    	}
    </style>
{%  endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8 create-worklist-container">
				<h2 class="top-heading">Worklist Name: {{worklist_name}}</h2>
				<div class="row">
					<div class="col-md-6 no-left-padding">
						<a role="button" class="btn btn-outline-primary"
                           href="/worklist-tool/show-worklist">See all the worklists</a>
					</div>
					<div id="search_by_task_name" class="col-md-6">
						<form action="/worklist-tool/show-tasks" method="get">
							<input type="text" name="search_term"
                                   placeholder="Search task">
							<input class="hidden" id="task_name" type="text"
                                   name="search_type" value="task_name">
							<input class="hidden" id="worklist_name" type="text"
                                   name="worklist_name" value="{{worklist_name}}">
							<input class="hidden" id="worklist_created_by" type="text"
                                   name="worklist_created_by" value="{{worklist_created_by}}">
							<button type="submit" class="btn btn-outline-secondary">
							    <i class="fa fa-search"></i>
							</button>
						</form>
					</div>
				</div>

				{% if tasks|length %}
					<div class="row">
						<table class="table table-bordered">
							<thead>
						      <tr>
						        <th>Name</th>
						        <th>Description</th>
						        <th>Created By</th>
						        <th>Status</th>
						        <th>Progress</th>
						        <th>Effort</th>
						        <th>Claimed By</th>
						      </tr>
						    </thead>
						    <tbody>
							{% for task in tasks %}
						      <tr>
						        <td>{{task.article_name}} {% if logged_in_user and task.status == "open" or logged_in_user and task.status == "claimed" and task.claimed_by == logged_in_user %} <i class="fa fa-pencil-square-o" onclick="taskForm({{forloop.counter0}})"></i> {% endif %} </td>
						        <td>{{task.description}}</td>
						        <td>{{task.created_by}}</td>
						        <td>{{task.status}}</td>
						        <td>{{task.progress}}</td>
						        <td>{{task.effort}}</td>
						        <td>{{task.claimed_by}}</td>
						      </tr>
							{% endfor %}
						    </tbody>
						</table>
					</div>
				{% else %}
					<div class="row">
						<div class="alert alert-warning" role="alert">
						  <a href='#' class='close' data-dismiss='alert'>  &times;</a>
						  Oops! No task added yet!
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<!-- Modal -->
	{% if logged_in_user %}
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <strong>Progress:</strong> <input id="task-progress" type="number"
                                              min="0" max="100" value="0"><br/>
	        <strong>Status:</strong> <div>
	        	<input type="radio" name="status" value="open" checked>Open
	        	<input type="radio" name="status" value="closed">Closed
	        	<input type="radio" name="status" value="claimed">Claimed
	        </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary"
                    onclick="saveTask()">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}
{% endblock %}