{% extends 'base.html' %}

{% block scripts %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.js" async></script>
    <script src="{% static 'js/csrf-token-functions.js' %}"></script>
    <script src="{% static 'js/show-task.js' %}"></script>
    <script type="text/javascript">
    var awesomplete;

    $(document).ready(function(){
        tasks = {{tasks|safe}};
        worklist_name = "{{worklist_name}}";
        worklist_created_by = "{{worklist_created_by}}";
        input = $("#search_task_autocomplete");
	    awesomplete = new Awesomplete(input);
        awesomplete.list = tasks.map(task => task.article_name);

        setTimeout(worker, 50000);
    });
    </script>

    <style type="text/css">
    	input[name=search_term] {
    		padding: 6px;
    	}

    	#search_by_task_name {
    		text-align: right;
			padding-right: 0;
    	}
    </style>
{%  endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 create-worklist-container">
				<h2 class="top-heading">Worklist Name: {{worklist_name}}</h2>
				<div class="row">
					<div class="col-md-6 no-left-padding">
						<a role="button" class="btn btn-outline-primary"
                           href="/worklist-tool/show-worklist">See all the worklists</a>
					</div>
					<div id="search_by_task_name" class="col-md-6">
						<form id="search_by_task_name_form" action="/worklist-tool/show-tasks" method="get">
							<input id="search_task_autocomplete" type="text" name="search_term"
                                   placeholder="Search task">
							<input class="hidden" id="task_name" type="text"
                                   name="search_type" value="task_name">
							<input class="hidden" id="worklist_name" type="text"
                                   name="worklist_name" value="{{worklist_name}}">
							<input class="hidden" id="worklist_created_by" type="text"
                                   name="worklist_created_by" value="{{worklist_created_by}}">
							<input type="submit" class="btn btn-outline-secondary" value="Search" onclick="refresh();return false;">
						</form>
					</div>
				</div>
                <div id="task_table">
                    {% include 'show-task-table.html' %}
                </div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	{% if logged_in_user %}
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <strong>Progress:</strong> <input id="task_progress" type="number"
                                              min="0" max="100" value="0"><br/>
	        <strong>Status:</strong> <div>
	        	<input type="radio" name="status" value="open" checked>Open
	        	<input type="radio" name="status" value="closed">Closed
	        	<input type="radio" name="status" value="claimed">Claimed
	        </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary"
                    onclick="saveTask()">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}
{% endblock %}
